h1{
 font-family: 'Rubik', sans-serif; 
 font-size: 80px;
 font-weight: bold;
 line-height: 200%;
 position: absolute;
 top: 30%;
 left:45%;
 transform: translate(-50%, -50%);
}
#banner{
 width:100%;
}
.text{
 font-family: 'Rubik', sans-serif; 
 padding-left:30%;
 padding-right:30%;
}
h2{
 text-align:center;
 
}

