#title{
 font-family: 'Rubik', sans-serif; 
 font-size: 80px;
 font-weight: bold;
 position: absolute;
 top: 30%;
 right: 50%;
 transform: translate(-50%, -50%);
}
#banner{
 width:100%;
}
.text{
 padding-left:30%;
 padding-right:30%;
}
h2{
 text-align:center;
 
}

